.times {
  width: 100%;
  margin: 0 auto;
}

.timesList {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.lastChosen {
  color: white;
  margin-top: 100%;
}

/* https://www.w3schools.com/howto/howto_css_vertical_menu.asp */
.availableTimesListHTML, .chosenTimesListHTML {
  display: inline-block;
  background-color: #eee;
  width: 100px;
  height: 400px;
  overflow-y: auto;
}

.availableTimesListHTML a, .chosenTimesListHTML a {
  background-color: #eee;
  border-bottom: 0.5px solid black;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.availableTimesListHTML a:hover, .chosenTimesListHTML a:hover {
  background-color: #ccc;
}
